@import url("galeria.css");
html {
    /*height: 100%;*/
    font-family: 'Montserrat';

    /*display: grid;
    align-items: center;
    justify-items: center;*/

    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
}

body {
    background-color: var(--bg);
    font-size: 16px;
}

h1 {
    margin: 0;
    color: var(--color-headings);
}

p {
    color: var(--color-text);
    grid-area: content;
    font-size: 1em;
    line-height: 1.3em;
    margin-top: 1em;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

/*label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}*/
/* Galeria */

.photo-gallery {
    color:#313437;
    background-color:#fff;
}

.photo-gallery p {
    color:#7d8285;
}

.photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
}

@media (max-width:767px) {
    .photo-gallery h2 {
        margin-bottom:25px;
        padding-top:25px;
        font-size:24px;
    }
}

.photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
}

.photo-gallery .intro p {
    margin-bottom:0;
}

.photo-gallery .photos {
    padding-bottom:20px;
}

.photo-gallery .item {
    padding-bottom:30px;
}

